@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #013fcc; /* Buttons, footer */
    --secondary-text: #545454; /* Gray text */
    --third-text: #ffffff;
    --post-placeholder: #60c0dd; /* Placeholder for posts */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-secondary-text: var(--secondary-text);
    --color-third-text: var(--third-text);
    --color-post-placeholder: var(--post-placeholder);
    --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
    --font-mono: var(--font-geist-mono, monospace);
}
/* Optional dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}*/
